.volumeController {
  height: 330px;
  accent-color: white;
  background: transparent;
  -webkit-appearance: slider-vertical;
}

/* .volumeController::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #13bba4;
  margin-top: -1px;
}

.volumeController::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: pointer;
} */
